@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "Barlow";
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  
  margin: 50px 50px;
}

.left__container {
  flex: 50%;
  background-image: url(../img/bg\ \(1\).jpg);
  background-repeat: no-repeat;
  width: 50%;
  height: 1000px;
}

.logo {
  width: 120px;
  margin: 50px 50px;
}

.right__container {
  flex: 50%;
  background-color: #eff6ff;
}

.border-container {
  margin: auto;
  padding-top: 80px;

  max-width: 520px;
}

.intro-text h1 {
  color: #2a4a5c;
}

.intro-text p {
  margin-top: 15px;
  margin-bottom: 40px;
  color: #96a5b1;
}

.register-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 50px;
}

.facebook {
  position: relative;
  width: 240px;
  background-color: #255a9b;
  color: #eff6ff;
  padding-top: 12px;
  padding-bottom: 10px;
  border: none;
}
.fb-logo {
  position: absolute;
  left: 15px;
  width: 15px;
  height: 15px;
}

.linkedin {
  position: relative;
  width: 240px;
  background-color: #1c91d4;
  color: #eff6ff;
  padding-top: 12px;
  padding-bottom: 10px;
  border: none;
}
.ln-logo {
  position: absolute;
  left: 15px;
  width: 15px;
  height: 15px;
}

.text-with-line {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 25px 0px;
  color: #96a5b1;
  font-size: 12px;
}
.text-with-line::before,
.text-with-line::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #96a5b1;
  right: -20px;
}

form {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  outline: none;
}
.text-fild {
  margin-top: 30px;
  position: relative;
}
.text-inp {
  width: 230px;
  height: 20px;
  border: 1px solid #eeeeee;
  border-left: 2px solid #255a9b;
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.text-email-placeholder {
  font-size: 14px;
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  color: #afafaf;
  pointer-events: none;
  margin-left: 8px;
}

.text-fild2 {
  margin-top: 30px;
  position: relative;
}
.text-inp2 {
  width: 230px;
  height: 20px;
  border: 1px solid #eeeeee;
  padding-top: 30px;
  padding-bottom: 15px;
  padding-left: 10px;
}
.text-num-placeholder {
  font-size: 14px;
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  color: #afafaf;
  pointer-events: none;
  margin-left: 8px;
}

.question-info h2 {
  margin-top: 50px;
  color: #2a4a5c;
}

.question-info p {
  margin-top: 15px;
  margin-bottom: 40px;
  color: #96a5b1;
}
/*==================nav-list===========================*/

.checkbox-list {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 60px;
  padding-left: 20px;
}

.check_box {
  position: absolute;
  display: none;
}

.check-style {
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #1a73bc;
  margin-left: -25px;
  margin-top: 3px;
  border-radius: 50%;
  background-color: #ffffff;
}

.check_box:checked + .check-style::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 5px solid #1a73bc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

/*=============box-text=================*/

.box-info {
  margin-top: 20px;
  color: #afafaf;
  background-color: #fff;
  width: 300px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 15px;
}

.agreement {
  margin-top: 50px;
  color: #afafaf;
}
.agreement a {
  color: #3698fb;
  position: relative;
  width: 520px;
}

.agree {
  width: 520px;
position: absolute;
float: left;
right: 320px;
margin-top: 3px;

  
}
.btn {
  width: 200px;
  height: 40px;
  margin-top: 50px;
  background-color: #3698fb;
  border: none;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 50px;
}
